.evidence-field {
  @extend .clearfix;

  .evidence-field__type {
    margin-bottom: 10px;
  }

  .evidence-field__upload {
    border: dashed 3px #aaa;
    padding: 20px;
    text-align: center;
    background-color: #eee;

    &.evidence-field__upload--dragover {
      background-color: #ddd;
    }
  }

  .evidence-field__uploaded * {
    @extend .pull-left;
    margin-right: 10px;
  }
}